@model Loan_application_service.Models.LoanApplication

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Loan_application</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="RequestedAmount" class="control-label"></label>
                <input asp-for="RequestedAmount" class="form-control" />
                <span asp-validation-for="RequestedAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationDate" class="control-label"></label>
                <input asp-for="ApplicationDate" class="form-control" />
                <span asp-validation-for="ApplicationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoanStatus" class="control-label"></label>
                <input asp-for="LoanStatus" class="form-control" />
                <span asp-validation-for="LoanStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApprovalDate" class="control-label"></label>
                <input asp-for="ApprovalDate" class="form-control" />
                <span asp-validation-for="ApprovalDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisbursementDate" class="control-label"></label>
                <input asp-for="DisbursementDate" class="form-control" />
                <span asp-validation-for="DisbursementDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
